/* 
COOLERS PALETTE
#ef626c  dark coral
#c1d7c6  sage
#a3bcf9  cornflower blue
#7796cb  dusk blue
#576490  dark dusk blue */

body {
  background-color: #576490;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********** INPUT BOX **********/
h1 {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  font-size: 3em;
  color: #a3bcf9;
}

h4 {
  font-size: 2rem;
  color: #c1d7c6;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.box {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 1rem;
  background-color: #a3bcf9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.form-label {
  color: #576490;
  font-size: 1.6rem;
}

#challengeInputItem {
  background-color: #c1d7c6;
  border-color: #ef626c;
  border-width: 2.5px;
  height: 50px;
}

#submit-button {
  display: flex;
  width: 80px;
  height: 40px;
  border-color: #576490;
  color:white;
  background-color:#576490;
  justify-content: center;
  align-items: center;
  margin-left:1rem;
  box-shadow: 2px 2px 2px #576490;
}

/********** TABLE STYLING **********/

/* .text-start {
  min-width: 100px;
  max-width: 400px;
} */

.table td, .table th {
  vertical-align: middle; /* Centers content vertically */
  text-align: center; /* Centers content horizontally */
}

.custom-table th {
  color: #576490;
  background-color: #c1d7c6;
}

.custom-table td {
  background-color: #c1d7c6;
  color: #576490;
}

.col-day {
  width: 56px;
  font-size: larger;
}
.col-spacer {
  width: 20px;
}
.col-result {
  width: 80px;
  justify-content: center;
  align-items: center;
}

.checkbox {
  appearance: none;  /* Remove default styling */
  background-color: #ef626c;
  border-color: #576490;
  border-width: 1.5px;
  border-style: solid;
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  top: 20%;
  width: 18px;
  height: 32px;
  border: solid #576490;
  border-width: 0px 5px 5px 0px;
  transform: rotate(40deg) translate(-50%, -50%);
}


/* #blunder {
  height: 36px;
  width: 50px;
} */



/* .result-image {
  width: 100%; /* Make the image fit the button */
  /* height: 100%; Make the image fit the button */
  /* object-fit: cover; /* Ensure the image covers the button area */



/* 
.result {
  position:absolute;
  background-color: #576490;
  right: 10px;
  top: 50%;
  transform: translate(-50%);

  background: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  z-index: 10;
}   */

/* .square {
  background:#a3bcf9 !important;
  height: 30px !important;
  width: 30px !important;
  margin: 0 auto !important;
} */

.result {
  padding: 10px;
  width: 80px;
  display: flex;
}

.oval {
  width: 40px;
  height: 30px;
  border: 2px solid #576490;
  border-radius: 50%;
  background-color: transparent;
}

.icon {
  cursor: pointer;
}

/**********DELETE OR RESET**********/
.col-dispose {
  width: 50px;
}

.reset {
  height: 20px;
  width: 20px;
  background-color:#a3bcf9;
  border-color:#a3bcf9;
  border-radius:50%;
}

.trash {
  margin-inline: 6px;
  height: 20px;
  width: 20px;
  background-color:#a3bcf9;
  border-color:#a3bcf9;
  border-radius:50%;
}